extends ../index_base.pug

//-//////////////
//- NAVBAR
block vision
    div Vision & Mission

block vision_text
    div Our world is covered by litters, with better information technology tools and stronger communication systems, we can make every part of the map green!

block services
    div Products

block about
    div Our story

block team
    div Team

block contact
    div Contact Us

block language
    a.nav-link-small.nav-link.js-scroll-trigger(href='./is/')
        img(src='/assets/img/is.png', alt='icelandic')
        | IS

//-//////////////
//- MASTERHEAD
block subtitle
    div Imagine a world without litter!

//- block title
//-     //- div Join Us
//-     div Imagine a world without litters!

//- block seemore
//-     div See more

//-//////////////
//- Services
block ploggin
    | Plogg-In is a simple and fun mapping system for ploggers, outdoorsmen/women, and environmentalists. It has an easy to use interface that shows a great overview of areas that have already been plogged and where it is still needed.

block gognin
    | Gögn-In collects, standardizes, and optimizes real-time geographical data for environmental research and projects.

block bin
    | B-In uses data from both Plogg-In and Gögn-In to predict the state of public bins in real-time without the need of bin sensors.


//-//////////////
//- OUR STORY
block about_text
    div Timeline representing a brief story of Plogg-In.

block story_1_date
    div May 2018

block story_1_title
    div Top 3 at the RVK CityHack

block story_1_text
    | The idea of Plogg-In was born and created in Reykjavík CityHack 2018, where the team was placed in the top 3 teams and has since been working with Smart City Reykjavík.

block story_2_date
    div April 2019

block story_2_title
    div The Big Plogging Day in Iceland 

block story_2_text
    | The Big Plogging day was held in Iceland on April 28, 2019 with over 1000 registrations. The data we got from just that single day showed that the areas cleared was about the size of the Westman Islands (17.2 km2).
                                    
block story_3_date
    div September 2019

block story_3_title
    div Gögn-In won the Million Tonne Challenge

block story_3_text
    | Gögn-In placed first in the Million Tonne Challenge by the Icelandic Chamber of Commerce where the team focused on collecting geographical real-time data and standardizing them, which will later be used in various types of research.

block story_4_date
    div September 2019

block story_4_title
    div Gögn-In won the Reykjavik CityHack

block story_4_text
    | Gögn-In won the Reykjavik CityHack 2019 competition with an idea on how to optimize the Icelandic bus timetable by incorporating timetable data from all schools in Iceland.

block story_5_date
    div October 2019

block story_5_title
    div Snjallræði

block story_5_text
    | Plogg-In participated in Snjallræði 2019, where the team received guidance from experts from MIT-Design X as well as other mentors in creating business models for Plogg-In.

block story_6_date
    div November 2019

block story_6_title
    div Smart City expo

block story_6_text
    | The team presented B-In and Plogg-In on the Smart City Expo 2019 held in Barcelona, one of the largest smart city confrences in the world. This was done in collaboration with the City of Reykjavik on how to use real-time data to infer the status of garbage bins in the city without bin-specific sensors to prevent overflow of garbage.

block story_7_date
    div February 2020

block story_7_title
    div Top 3 startups

block story_7_text
    | Plogg-In was nominated as a 2020 startup of the year according to Ský in the so-called UTmessan in a category with Genki Instrument and Embla from Miðeind. The team got the Genki Instrument Award.


block bepartofourstory
    | Be Part
    br
    | of our
    br
    | story!

//-//////////////
//- TEAM
block teamtitle
    div Our Amazing Team

block teamtext
    div The Plogg-In team consists of six ambitious individuals with different backgrounds.

block kristjana
    | CEO & co-founder

block stefan
    | CTO & co-founder

block guolin
    | Programmer & founder

block hulda
    | Marketing

block thorgeir
    | Programmer

block sollilja
    | Environmental Social Scientist

block about_suffix_text
    | In addition to the thousands of environmentalists who stand together in making the world a better place.
