extends ../index_base.pug

//-//////////////
//- NAVBAR
block vision
    div Stefna og markmið

block vision_text
    div Við viljum hvetja til aukinnar umhverfisvitundar. Með betri upplýsingatæknitólum og sterkari samskiptakerfum getum við gert allt kortið grænt!

block services
    div Þjónustuleiðir

block about
    div Sagan okkar

block team
    div Teymið

block contact
    div Hafa samband

block language
    a.nav-link-small.nav-link.js-scroll-trigger(href='/en/')
        img(src='/assets/img/en.png', alt='english')
        | EN

//-//////////////
//- MASTERHEAD
block subtitle
    div Ímyndaðu þér heiminn án rusls!

//- block title
//-     div Vertu með

//-block seemore
//-    div Sjá meira

//-//////////////
//- Services
block ploggin
    | Plogg-In er kortlagningarkerfi fyrir plokkara, útivistarfólk og umhverfissinna

block gognin
    | Gögn-In er kerfi sem safnar landfræðilegum rauntímagögnum, staðlar og bestar þau til notkunar í ýmsum umhverfistengdum verkefnum og rannsóknum

block bin
    | Snjalllausn sem bestar sorphirðu í borgum með hjálp rauntímagagna


//-//////////////
//- OUR STORY
block about_text
    div Tímalína sem stiklar á stóru um sögu Plogg-In

block story_1_date
    div Maí 2018

block story_1_title
    div Topp 3 Borgarhakkið

block story_1_text
    | Grunnhugmynd fyrir Plogg-In varð til í Borgarhakki Reykjavíkurborgar 2018. Teymið komst í þriggja liða úrslit og hefur síðan þá unnið með Snjallborginni Reykjavík.

block story_2_date
    div Apríl 2019

block story_2_title
    div Stóri plokkdagurinn

block story_2_text
    | Stóri plokkdagurinn var haldinn 28. apríl 2019 og fékk plokkari.is yfir 1000 færslur þann dag. Svæðið sem var hreinsað er á stærð við Vestmannaeyjar (17.2 km2).

block story_3_date
    div September 2019

block story_3_title
    div Sigruðum Milljón tonna áskorun

block story_3_text
    | Gögn-In, verkefni vann Milljón tonna áskorun Viðskiptaráðs Íslands.

block story_4_date
    div September 2019

block story_4_title
    div Sigruðum Borgarhakkið

block story_4_text
    | Gögn-In hlaut sigur úr býtum í Borgarhakki Reykjavíkurborgar 2019 með hugmynd að betri tímatöflu fyrir Strætó þar sem tekið var tillit til stundataflna allra skóla höfuðborgarsvæðisins.

block story_5_date
    div Október 2019

block story_5_title
    div Snjallræði

block story_5_text
    | Plogg-In hlaut þátttöku í samfélagshraðlinum Snjallræði 2019 þar sem teymið fékk leiðsögn sérfræðinga frá MIT-Design X auk annarra leiðbeinenda í að smíða viðskiptalíkan fyrir Plogg-In.

block story_6_date
    div Nóvember 2019

block story_6_title
    div Smart City expo

block story_6_text
    | Teymið kynnti B-In og Plogg-In á Smart City Expo 2019 í Barcelona, sem er ein stærsta snjallborgarráðstefna í heimi.

block story_7_date
    div Febrúar 2020

block story_7_title
    div Topp 3 sprota ársins

block story_7_text
    | Plogg-In var tilnefnt sem Sprotafyrirtæki ársins 2020 að mati Ský á UT messunni, í flokki með Genki Instruments og Emblu frá Miðeind.

block story_8_date
    div Nóvember 2021

block story_8_title
    div Topp 3 CASSINI Hackathon Iceland

block story_8_text
    | Teymið fann leið til þess að minnka töluvert orkunotkun í GPS tækjum, með það að markmiði að gera GPS tæki fyrirferðaminni fyrir notkun á dýraeftirliti.

block story_9_date
    div Desember 2022

block story_9_title
    div plokkari.is styrkt af HR

block story_9_text
    | Háskólinn í Reykjavík styrkti verkefnið í þeim skilningi að útvega betri kortavefur til baráttu við ruslmengun.

block bepartofourstory
    | Vertu hluti
    br
    | af okkar
    br
    | sögu!

//-//////////////
//- TEAM
block teamtitle
    div Magnaða teymið okkar

block teamtext
    div Teymið samanstendur af fjórum metnaðarfullum einstaklingum með ólíkan bakgrunn

block lara
    | Gæðaleiðtogi

block guolin
    | Leiðandi og stofnandi

block benedikt
    | Tæknileiðtogi

block magdalena
    | Viðskiptaleiðtogi

block ioana
    | Hönnunarleiðtogi

block about_suffix_text
    | Auk þúsunda umhverfissinna sem saman gera heiminn að betri stað


//-//////////////
//- Advisors
block advisorstitle
    div Ráðgjafanefnd

//- block advisorstext
    //- div Óaðfinnalegir ráðgjafr hafa safnast á eitt og munu aðsotoða okkur að týna rusl!

block advisor_kristinn
    | Fyrrverandi verkefnastjóri Snjallborgar hjá Reykjavíkurborg

block advisor_helga
    | Stofnandi og meðstjórnandi Crowberry Capital

block advisor_jon
    | Rektor Háskóla Íslands

block advisor_luca
    | Deildarforseti tölvunarfræðideildar Háskólans í Reykjavík


//- block advisors_post_text
//-     | Þau hafa öll samþykkt að hjálpa!

//-//////////////
//- TEAM
block contact
    |  Hafðu samband
