extends ../index_base.pug

//-//////////////
//- NAVBAR
block vision
    div Stefna og markmið

block vision_text
    div Með betri upplýsingatæknitól og sterkari samskiptakerfum getum við gert allt kortið grænt!

block services
    div Þjónustuleiðir

block about
    div Sagan okkar

block team
    div Teymið

block contact
    div Hafa samband

block language
    a.nav-link-small.nav-link.js-scroll-trigger(href='./EN/index.html')
        img(src='assets/img/en.png', alt='english')
        | EN

//-//////////////
//- MASTERHEAD
block subtitle
    div Ímyndaðu þér heiminn án rusls!

//- block title
//-     div Vertu með

//-block seemore
//-    div Sjá meira

//-//////////////
//- Services
block ploggin
    | Plogg-In er kortlagningarkerfi fyrir plokkara, útivistarfólk og umhverfissinna sem hvetur til aukinnar umhverfisvitundar, verndar og stuðlar um leið að heilsueflandi hreyfingu. Kortið er með einfalt viðmót sem sýnir þau svæði sem er búið að hreinsa og gerir notendum kleift að skipuleggja plokkferðir sínar.

block gognin
    | Gögn-In er kerfi sem safnar landfræðilegum rauntímagögnum til bestunar á ýmsum umhverfistengdum verkefnum og rannsóknum og staðlar þau. 

block bin
    | B-In er kerfi sem notar bæði gögn úr Plogg-In og Gögn-In til að álykta stöðu ruslastampa í rauntíma.


//-//////////////
//- OUR STORY
block about_text
    div Tímalína sem stiklar á stóru um sögu Plogg-In.

block story_1_date
    div Maí 2018

block story_1_title
    div Topp 3 Borgarhakkið

block story_1_text
    | Grunnhugmynd fyrir Plogg-In varð til í Borgarhakki Reykjavíkurborgar 2018 en þar komst teymið í þriggja liða úrslit og hefur síðan þá unnið með Snjallborginni í Reykjavík í að betrumbæta hugmyndina.

block story_2_date
    div Apríl 2019

block story_2_title
    div Stóri plokkdagurinn

block story_2_text
    | Stóri plokkdagurinn var haldinn 28.apríl 2019 en þá fengust yfir 1000 skráningar sem sýndu svæði sem voru hreinsuð en á einum degi var samanlögð stærð þeirra á við Vestmannaeyjar (17.2 km2).
                                    
block story_3_date
    div September 2019

block story_3_title
    div Sigruðum Milljón tonna áskorun

block story_3_text
    | Gögn-In vann Milljón tonna áskorun Viðskiptaráðs með kerfi sínu þar sem lögð var áhersla á að safna landfræðilegum rauntímagögnum og staðla þau sem seinna nýtast við margskonar rannsóknir.

block story_4_date
    div September 2019

block story_4_title
    div Sigruðum Borgarhakkið

block story_4_text
    | Gögn-In hlaut sigur úr býtum í Borgarhakki Reykjavíkurborgar 2019 með hugmynd að betri tímatöflu fyrri strætó sem sameinar núverandi tímatöflu Strætó og stundartöflu frá öllum skólum á Íslandi.

block story_5_date
    div Október 2019

block story_5_title
    div Snjallræði

block story_5_text
    | Plogg-In hlaut þátttökurétt í Snjallræði 2019 þar sem teymið fékk leiðsögn séfræðinga frá MIT-Design X auk annarra mentora í að smíða viðskiptalíkan fyrir Plogg-In.

block story_6_date
    div Nóvember 2019

block story_6_title
    div Smart City expo

block story_6_text
    | Í samstarfi við Reykjavíkurborg fór teymið til Barcelona á Smart City Expo 2019, eina stærstu snjallborgarráðstefnu heims, þar sem B-in og Plogg-in voru kynntar. Plogg-In vakti mikinn  áhuga, þ.á.m. hjá borgarfulltrúa Helsinki og Stokkhólms. Teymið er einnig í samstarfi við Reyjavíkurborg í að nota rauntímagögn til að álykta stöðu ruslastama í borgarinnar til að koma í veg fyrir yfirflæði rusls. 

block story_7_date
    div Febrúar 2020

block story_7_title
    div Topp 3 sprota ársins 

block story_7_text
    | Plogg-In var tilnefnt sem Sprotafyrirtæki ársins 2020 að mati Ský í UT messunni, í flokki með Genki Instrument og Emblu frá Miðeind. Teymið hlaut Genki Instrument verðlaunin.

block bepartofourstory
    | Vertu hluti
    br
    | af okkar
    br
    | sögu!

//-//////////////
//- TEAM
block teamtitle
    div Magnaða teymið okkar 

block teamtext
    div Plogg-In teymið samanstendur af sex metnaðarfullum einstaklingum með ólíkan bakgrunn. 

block kristjana
    | Framkvæmdarstjóri og meðstofnandi

block stefan
    | Tæknistjóri og meðstofnandi

block guolin
    | Forritari og stofnandi

block hulda
    | Markaðssetning

block thorgeir
    | Forritari

block sollilja
    | Umhverfisfræðingur

block about_suffix_text
    | Auk þúsunda umhverfissinna sem standa saman í að gera heiminn að betri stað.


//-//////////////
//- TEAM
block contact
    |  Hafðu samband
