// Override Bootstrap color system

$yellow: #fed136;
$gray: #808080;
$green: #008000;
$light_blue: #008090;
$light_brown: #b5651d;

// Override Bootstrap default state colors

$primary: $green;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
